<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  
  </head>


  <body>
    <nav>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/publications">Publications</a></li>
<li><a href="/education">Education</a></li>
<li><a href="/research">Research</a></li>
<li><a href="/coding">Code</a></li>
</ul>
    </nav>
	
<hr>
	
<div class="container">

  {{ content }}

</div>
    
  <footer>
   <ul>
   <li><a href="https://scripps.ucsd.edu/profiles/mlchandl">Link to my SIO directory page</a></li>
   <li>Contact me at mlchandl@ucsd.edu</a></li>
   <li><a href="https://twitter.com/nz_mitch_">Twitter</a></li>
   </ul>
   
   <ul>
   <li><font size="-2"><a href="https://github.com/hankquinlan">Github website template</a></font>
   </ul>
  </footer>
  </body>

</html>
